nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
  
    li { display: inline-block; }
  
    .a-tag {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: #343434;
        font-size: 16px;
        font-weight: 400;
        line-height: 60px;
        padding: 0px 15px;
        outline: none;
        text-decoration: none;
        cursor: pointer;
    }
}
  